@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';

.dialog-box-overlay {
  position: fixed;
  top: 0;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  animation: appear 0.2s ease-out;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
}

.dialog-box-overlay-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  animation: appear 0.2s ease-out;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
}

@keyframes appear {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mt-half {
  margin-top: 0.5rem;
}

.dialog-box {
  background: $bg-light;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 95vh;

  &--sm {
    max-width: 300px;
  }

  &--md {
    max-width: 500px;
  }

  &--lg {
    max-width: 700px;
  }

  &--xl {
    max-width: 900px;
  }

  &--full {
    max-width: 100%;
  }

  .dialog-box-header {
    padding: 0.5rem;
    background: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dialog-box-title {
      flex-grow: 1;
      text-align: center;
      color: $light-color;
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 1rem;

      @media (max-width: 480px) {
        font-size: 1rem;
      }
    }

    .dialog-box-close-button {
      cursor: pointer;
      border: none;
      background: $light-color;
      color: $primary;
      border-radius: 50%;
      font-size: 1rem;
      height: 2rem;
      width: 2rem;
    }
  }

  .dialog-box-body {
    padding: 0.5rem;
    overflow-y: auto;
    flex-grow: 1;
  }

  .dialog-box-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    color: white;
    text-align: right;
    position: sticky;
    bottom: 0;

    .dialog-box-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;

      button {
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 50%;
        background-color: $primary;
        color: white;
        cursor: pointer;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
        font-size: 1rem;

        &:hover,
        &:focus {
          background-color: $primary-hover;
        }

        &:disabled {
          background-color: $grey;
          cursor: not-allowed;
        }
      }

      @media (max-width: 768px) {
        justify-content: center;
      }

      @media (max-width: 480px) {
        button,
        .media-file-label {
          padding: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
